
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.inputCallADriver {
    width: 99%;
    font-family: Arial, Helvetica, sans-serif;
    color:#4F4F4F;
}

@media (max-width: 600px) {
    .inputCallADriver {
        width: 92%;
        font-family: Arial, Helvetica, sans-serif;
        color:#4F4F4F;
    }
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media (min-width: 600px) {
    .content {
        display: flex;
        width: 100%;
        min-width: 600px;
        max-width: 800px;
        flex-direction: column;
      }
}

.inline-flex {
    display: inline-flex;
}

.label-content {
    display: flex;
    flex: 1;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .label-content {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

.label-content > div {
    display: flex;
    flex: 1;
    padding: 10px;
}

.label-content > div > h1 {
    font-size: 24px;
    color: #4f4f4f;
    font-family: Arial, Helvetica, sans-serif;
}

.whereYouWantToGo {
    display: flex;
    flex: 1;
}

.inputSection input {
    padding: 10px;
    margin: 10px;
}

.inputSelect {
    padding: 10px;
    margin: 10px;
    color: #4f4f4f;
}

@media(max-width:600px) {
    .inputSelect {
        width: 92%;
    }
}

.inputSection input::placeholder {
    color: rgb(165, 170, 164);
}

.selectYourPetContent {
    display: flex;
    flex-direction: row;
}

.selectYourPetContent div {
    display: flex;
    flex: 1;
    color: #4f4f4f;
    font-family: Arial, Helvetica, sans-serif;
    
}

.schedule{
    display: flex;
    flex-direction: row;
    color: #4F4F4F;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
    .schedule{
        display: flex;
        flex-direction: column;
        color: #4F4F4F;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.orangeBtn {
    background-color: #FF9052;
    width: 260px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    align-self: center;
    cursor: pointer;
}

.orangeBtn:hover{
    background-color: orangered;
}

@media screen and (min-width: 600px) {
    .orangeBtn {
        background-color: #FF9052;
        width: 260px;
        padding: 15px;
        border: 0;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        max-height: 50%;
        align-self: center;
    }
}

.container_left > label {
    padding: 0 10px;
}

.selectPets {
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .selectPets {
        flex-direction: column;
    }
}

.selectPets > div {
    display: flex;
    flex: 1;
}

#selectYourPet > h1 {
    color: #4f4f4f;
    font-family: Arial, Helvetica, sans-serif;
}

.container_left {
    flex-direction: column;
}

.container_right {
    justify-content: flex-end;
} 


@media (max-width: 600px) {
    .container_right {
        padding-right: 30px;
    }
}

#petImage{
    width: 100%; 
}

.where-you-want-to-go-label {
    display: flex;
}

/* @media (max-width: 600px) {
    .where-you-want-to-go-label {
        display: none !important;
    }
} */

.links_section, .social_media {
    display: flex;
    flex: 1;
    /* margin-top: 15px; */
}

.links_section > :nth-child(1) {
    display: flex;
    flex: 1;
}

.links_section > :nth-child(2) {
    display: flex;
    flex: 4;
}

.links_section > div > ul > li > a {
    font-size: 13px;
    padding: 8px;
    color: white;
}


footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #47525E;
    flex-direction: column;
    height: 30vh;
}

footer > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* margin-left: 10vh; */
    padding: 20px;
}

li {
    list-style: none;
}

/* menu*/

*{
    margin: 0;
    padding: 0;
    
    }
    
    a{
        color:rgb(0, 0, 0);
        text-decoration: none;
        transition: 0,3s;
    }
    
    a:hover {
    opacity: 0,7;
    }
    .logo {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 4px;
    
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background: #0C0B0B;
        height: 10vh;
        color: white;
    }
    
    .nav-list {
        list-style: none;
        display: flex;
        font-size: 12px;
    }
    
    .nav-list li{
        letter-spacing: 3px;
        margin-left: 32px;   
    }
    
    .mobile-menu {
        display: none;
        cursor:pointer;
    }
    
    .mobile-menu div{
        width: 20px;
        height: 2px;
        background: #fff;
        margin: 5px;
    
    }
    
    @media (max-width: 1300px) {
        body, html{
            position: relative;
            overflow-x: hidden;
        }
        .nav-list {
          position: absolute;
          top: 10vh;
          right: 0;
          width: 50vw;
          height: 90vh;
          background: black;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          transform: translateX(100%);
          transition: transform 0.3s ease-in;
        }
        .nav-list li {
          margin-left: 0;
          opacity: 0;
        }
        .mobile-menu {
          display: block;
        }
      }
      
      .nav-list.active {
        transform: translateX(0);
      }
    
      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
      
    nav a{
      font-weight:bold;
      text-decoration: none;
      font-size: 12px;
      color:white;
      text-align: center;
    }





    